<h2 class="ui center aligned icon header">
  <i class="circular orange coffee icon"></i>
  Say something
  <div class="ui inverted vertical menu">
    <a class="item">
      Home
    </a>
    <a class="item active">
      Messages
    </a>
    <a class="item">
      Friends
    </a>
  </div>

</h2>